on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]

name: render-README

jobs:
  render-README:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2
        with:
          pandoc-version: "latest"

      - name: Setup Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: pre-release
          tinytex: true
      - run: |
          quarto --version

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Install R dependencies
        uses: r-lib/actions/setup-r-dependencies@v2

      - name: Render README
        run: |
          options(crayon.enabled = FALSE)
          quarto::quarto_render("README.qmd", output_format = "all")
          fs::file_copy("README.html", "index.html", overwrite = TRUE)
          fs::file_delete("README.html")
        shell: Rscript {0}

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v7
